.opacity(@opacity: 0.5) {
	-moz-opacity: @opacity;
	-khtml-opacity: @opacity;
	-webkit-opacity: @opacity;
	opacity: @opacity;
	@opperc: @opacity * 100;
	-ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
	filter: ~"alpha(opacity=@{opperc})";
}

.border-radius(@radius: 3px) {
	-moz-border-radius: @radius;
	-khtml-border-radius: @radius;
	-webkit-border-radius: @radius;
	border-radius: @radius;
}

.transition(@prop: all, @time: 0.4s, @ease:ease-out) {
	-webkit-transition: @prop @time @ease;
	-moz-transition: @prop @time @ease;
	-o-transition: @prop @time @ease;
	transition: @prop @time @ease;
}

.transition-none() {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	transition-property: none;
}

.drop-shadow(@x-axis: 0, @y-axis: 1px, @blur: 2px, @alpha: 0.1) {
	-webkit-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
	-moz-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
	box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
}

.box-shadow(@arguments) {
	-webkit-box-shadow: @arguments;
	-moz-box-shadow: @arguments;
	box-shadow: @arguments;
}

.inner-shadow(@horizontal:0, @vertical:1px, @blur:2px, @alpha: 0.4) {
	-webkit-box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
	-moz-box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
	box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
}

.user-select(@argument: none) {
	-webkit-touch-callout: @argument;
	-webkit-user-select: @argument;
	-khtml-user-select: @argument;
	-moz-user-select: @argument;
	-ms-user-select: @argument;
	user-select: @argument;
}

.transform(...) {
	-webkit-transform: @arguments;
	-moz-transform: @arguments;
	-o-transform: @arguments;
	-ms-transform: @arguments;
	transform: @arguments;
}

.animation(@animation-name, @animation-duration: 4000ms, @animation-iteration-count: infinite, @animation-timing-function: linear) {
	-webkit-animation-name: @animation-name;
	-webkit-animation-duration: @animation-duration;
	-webkit-animation-iteration-count: @animation-iteration-count;
	-webkit-animation-timing-function: @animation-timing-function;

	-moz-animation-name: @animation-name;
	-moz-animation-duration: @animation-duration;
	-moz-animation-iteration-count: @animation-iteration-count;
	-moz-animation-timing-function: @animation-timing-function;

	-ms-animation-name: @animation-name;
	-ms-animation-duration: @animation-duration;
	-ms-animation-iteration-count: @animation-iteration-count;
	-ms-animation-timing-function: @animation-timing-function;

	animation-name: @animation-name;
	animation-duration: @animation-duration;
	animation-iteration-count: @animation-iteration-count;
	animation-timing-function: @animation-timing-function;
}

.keyframe-spin() {
	@-ms-keyframes spin {
		from { -ms-transform: rotate(0deg); }
		to { -ms-transform: rotate(360deg); }
	}
	@-moz-keyframes spin {
		from { -moz-transform: rotate(0deg); }
		to { -moz-transform: rotate(360deg); }
	}
	@-webkit-keyframes spin {
		from { -webkit-transform: rotate(0deg); }
		to { -webkit-transform: rotate(360deg); }
	}
	@keyframes spin {
		from {
			transform:rotate(0deg);
		}
		to {
			transform:rotate(360deg);
		}
	}
}